
--uBo-bg:                            var(--bg);
--uBo-text:                          var(--main-text);
--logdialog-bg:                      var(--bg2);
--logdialog-text:                    var(--main-text);
--netfilt-bg:                        var(--bg2);
--netfilt-text:                      var(--dark-text);                   
--h2:                                var(--dark-text);
--h2-text:                           var(--main-text);
--a:                                 var(--accent);
--code:                              var(--light-text);
--switch-fa-on:                      var(--on);
--switch-fa-off:                     var(--off);
--tool:                              var(--icon1);
--tool-enabled-hover:                var(--accent);
--permatoolbar-bg:                   var(--bgbar);
--permatoolbar-button:               var(--button);
--permatoolbar-button-hover:         var(--button-hov);
--tooltip-bg:                        var(--bg);               
--tooltip-text:                      var(--dark-text); 
--firewallcontainer-bg:              var(--bg-fw);
--firewallcontainer-hover:           var(--bg-hov);
--firewallcontainer-span:            var(--bg-hov);
--borders-fw:                        var(--border);
--extraTools-bg:                     var(--bgbar2);
--extraTools-spanhover:              var(--bgbar2-hov);
--dashboard-nav-widgets:             var(--dashbg);
--dashboard-borders:                 var(--border2);
--tabbutton:                         var(--button2);
--tab-select:                        var(--button-a);
--tabbutton-text:                    var(--light-text);
--tab-borders:                       var(--border3);
--diffli-bg:                         var(--bg2);
--diffli-nth-bg:                     var(--bg);
--diff-textarea-bg:                  var(--dark-text2);
--diff-textarea-text:                var(--light-text);
